.copyright{
    text-align: center;
    background-color: rgb(225, 75, 8);
   
}
.text{
    padding-left: 700px;
    font-size:17px;
    color:rgb(255, 255, 255);
    
}
.sec1{
    
    background-color: white;
    padding-right: 12px;
    padding-top: 0%;
   
}