
  header {
    display: flex;
    justify-content: space-between; /* Align logo on the left and menu on the right */
    align-items: center;
    height: 75px;
    background-color: #ffffff;
    padding: 0 20px; /* Add padding to the sides */
  }
  
  .logo {
    padding-top: 0;
    margin: 0;
  }
  
  .logo img {
    height: 160px; /* Adjust logo size to fit within the header */
    width: auto; /* Maintain aspect ratio */
  }
  
  .display-menu {
    display: flex;
    align-items: center;
    gap: 10px; /* Add gap between menu items */
  }
  
  .menu {
    padding: 0 15px; /* Reduce padding to avoid overcrowding */
    text-decoration: none;
    font-size: 16px;
    font-weight: 620;
    color: rgb(252, 75, 8);
  }
  
  
  /* Dropdown styling remains the same */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color:  rgba(0,0,0,0.6);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    color: rgb(252, 75, 8);
  }
  
  /* Navbar.css */

.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  color:rgb(252, 75, 8); /* Adjust the color as needed */
  text-decoration: none; /* Remove underline from the link */
  margin-left: 10px; /* Space between other menu items */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.cart-icon:hover {
  color: rgb(252, 73, 8); /* Change the color on hover */
}

.cart-icon .cart-count {
  position: absolute;
  top: -8px; /* Adjust position to sit on top-right corner of the icon */
  right: -12px;
  background-color: #333; /* Red background for the count badge */
  color: #fff; /* White text color for the count */
  border-radius: 50%; /* Make the count badge round */
  padding: 2px 6px; /* Adjust padding for the size of the badge */
  font-size: 12px; /* Font size of the count text */
  font-weight: bold; /* Make the count text bold */
}
