.payment-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-form {
    flex: 0.6;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.payment-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgb(225,75,8);
}

.payment-group {
    margin-bottom: 15px;
}

.payment-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #333;
}

.payment-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pay-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(225,75,8);
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}



.cart-summary {
    flex: 0.35;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.cart-summary h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.cart-summary span {
    font-weight: bold;
    color: #333;
}

.cart-items {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-total {
    display: flex;
    color:rgb(225,75,8);
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 0;
}


