.service-page{
  background-color: rgb(255, 255, 255);
}
  
  .simg{
    padding-top:20px;
    background-color: rgb(255, 255, 255); 
  }
  .simg-h{
    font-size: 55px;
  }
  .simg-t{
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-35%,-95%);
    font-size: 20px;
  }
.lin{
  text-decoration: none;
}

  .lin.l1{
    text-decoration: none;
    color:white;
    font-weight: 600;
    cursor: pointer;
  }
  .lin.l2{
    color:rgb(225,75,8);
    font-weight: 600;
    cursor: pointer;
  }

  
  
  .img{
      display:block;
      object-fit: cover;
      margin-left: -490px ;
      
  }
  
  .image .text{
    position:absolute;
    color: rgb(200, 210, 10);
    left:15%;
    top:20%;
    font-size: 30px;
    transform: translate(-50%, -50%);
  }
  
.whatwedo p{
  color: rgb(225, 75, 8);
  text-align: center;
  font-weight: 500;

}
.whatwedo h1{
  color: black;
  text-align: center;
  font-weight: 630;
}
.whatwedo::after{
  content: "";
  display:flex;
  width: 5%;
  height: 4px; /* Adjust the height as needed */
  background-color: rgb(255, 75, 8); /* Adjust the color as needed */
  position: absolute;
  border-radius: 15px;
  bottom: -17px; /* Adjust the distance from the text as needed */
  left: 725px;
  top:640px;

}


  /*------------service-box1----------*/

.links{
  text-decoration: none;
  color: rgb(225, 75, 8);
}

.logos{
  
  padding-top: 20px;
  padding-bottom: 20px;
  height: 120px;
  width:150px;
  cursor: pointer;
}
.logos:hover{
  color:rgb(225, 75, 8);
  transform: scale(1.1);
}

  .service-box{
    padding: 20px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;    
    padding-left: 130px;
    padding-right: 130px;
    cursor: pointer;
    

}


.sb1{
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
    overflow:hidden;
    box-shadow: 0px 0px 5px -1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sb1:hover{
  
  transform: translateY(-10px);
}

.sb-title1{
    text-align: center;
    color:rgb(0, 0, 0);
    padding-bottom: 20px;
    
}


.sl1{
    overflow: hidden;
    
    text-align: center;
    justify-content: space-around;
    color:rgb(225, 75, 8);
    
}

/* card2 */

.sb2{
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
    overflow:hidden;
    box-shadow: 0px 0px 5px -1px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sb2:hover{
  
  transform: translateY(-10px);
}



.sb-title2{
    text-align: center;
    color:rgb(0, 0, 0);
    padding-bottom: 20px;
}

.sl2{
    overflow: hidden;
  
    text-align: center;
    justify-content: space-around;
    color:rgb(225, 75, 8);
    
}

/* card3 */

.sb3{
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
    overflow:hidden;
    box-shadow: 0px 0px 5px -1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sb3:hover{
  
  transform: translateY(-10px);
}


.sb-title3{
    text-align: center;
    color:rgb(0, 0, 0);
    padding-bottom: 20px;
}


.sl3{
    overflow: hidden;
  
    text-align: center;
    justify-content: space-around;
    color:rgb(225, 75, 8);
    
}

/* card4 */

.sb4{
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  overflow:hidden;
  box-shadow: 0px 0px 5px -1px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sb4:hover{
  
  transform: translateY(-10px);
}


.sb-title4{
  text-align: center;
  color:rgb(0, 0, 0);
  padding-bottom: 20px;
}


.sl4{
  overflow: hidden;

  text-align: center;
  justify-content: space-around;
  color:rgb(225, 75, 8);
}




/*-------------service-box2-----------*/

.ser-box{
  padding: 20px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;  
  padding-left:180px ; 
  padding-right: 180px; 

}
.bx{
  padding-left: 20px;
  width: 350px;
  overflow:hidden;
  box-shadow: 0px 0px 5px -2px;
  background-color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.b bx1:hover{
  transform: translateY(1px);
}
.b bx2:hover{
  transform: translateY(1px);
}
.b bx3:hover{
  transform: translateY(1px);
}

.b-title{
  text-align: center;
  color:rgb(255, 75, 8);
  padding-bottom: 20px;

}
.b-body{
  text-align: center;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
  margin-right: 15px;
}

.photo{
  overflow: hidden;
  text-align: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 20px;
}

.form-img{
  float:inline-start;
  padding-top: 10px;
  padding-bottom: 40px;
}
.form-img-t1{
  color: white;
  position: absolute;
  transform: translate(13%,-140%);
  font-size: 22px;
  cursor: pointer;
  
}

.form-img-t2{
  color: white;
  position: absolute;
  transform: translate(355%,-140%);
  font-size: 22px;
  text-align: right;
  cursor: pointer;
  
}
.lis1:hover{
  color:rgb(225, 75, 8);
}
.lis2:hover{
  color:rgb(225, 75, 8);
}
.lis3:hover{
  color:rgb(225, 75, 8);
}
.lis4:hover{
  color:rgb(225, 75, 8);
}
.lis5:hover{
  color:rgb(225, 75, 8);
}
.lis6:hover{
  color:rgb(225, 75, 8);
}
.lis7:hover{
  color:rgb(225, 75, 8);
}
.lis8:hover{
  color:rgb(225, 75, 8);
}

.img-lo{
  color:rgb(225, 75, 8);
}
.trust h1{
  text-align: center;
  font-weight: bold;
}
.trust h1::after{

  content: "";
  display:flex;
  width: 5%;
  height: 4px; /* Adjust the height as needed */
  background-color: rgb(255, 75, 8); /* Adjust the color as needed */
  position: absolute;
  border-radius: 15px;
  bottom: -17px; /* Adjust the distance from the text as needed */
  left: 725px;
  top:2090px;
}
.trust p{
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
  font-size: 16px;
  font-weight: 400;
}